/* Stilizacija za komponentu App */
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: burlywood;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}
